*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-color: black;
    width: calc(100% - 320px);
}

    .main p {
        color: white;
    }
    .main--container
    {
        padding-left: 30px;
    }

.banner
{
    width: 100%;
    background-color: rgb(139, 139, 139);
    overflow: hidden;
    height: 100%;
    position: relative;
    height: 30vw;
    display: inline-block;
    background-image: url('../../../public/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid red;
    box-sizing: border-box;
}
    .banner-gradient-side
    {
        background-color: black;
        width: 80%;
        height: 100%;
        position: absolute;
        z-index: 10;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 37%, rgba(0,0,0,0.577468487394958) 61%, rgba(0,0,0,0) 100%); 
    }
    .banner-gradient-bottom
    {
        background-color: black;
        width: 100%;
        height: 60%;
        position: absolute;
        z-index: 10;
        bottom: 0;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
    }
    .banner-img
    {
        width: 100%;
        position: absolute;
    }

.gradient
{
    height: 100%;
    position: absolute;
    z-index: 10;
    pointer-events: none;
    background-color: black;
    width: 30px;
}
.gradient.left
  {
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 100%);
  }
  .gradient.right
  {
    right: 0;
    background: linear-gradient(-90deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 100%);
  }

.horizontal-scroller {
    position: relative;
    width: 100%;
    background-color: #eee;

    .slider {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        overflow-x: scroll;
        background-color: rgb(0, 0, 0);

        .inner-box {
            white-space: nowrap;
            height: 80px;
            display: flex;
            align-items: center;
            margin-left: 30px;

            .item-box {
                vertical-align: middle;
            }
        }
    }
    
}

.item {
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    border: 1px solid white;
    font-family: unset;
    cursor: pointer;
    margin-right: 25px;
    flex-shrink: 0;
    display: inline-block;  
    text-align: center;
    font-size: 1em;
}
    .item.active {
        background-color: #6486DB;
        border-color: #6486DB;
    }

.slider::-webkit-scrollbar {
    display: none;
}
.card-section
{
    padding: 30px;
}
    .card-section h1 {
        color: white;
        font-family: Jura;
        font-size: 1.2em;
        font-weight: 400;
    }

.card {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    padding: 20px 0px 20px;
    border-bottom: 1px solid rgb(94, 94, 94);
    margin-bottom: 30px;
}

@media (max-width: 699px) {
.cards { 
    grid-template-columns: repeat(1, 1fr); 
}
}
    
@media (min-width: 700px) and (max-width: 1299px) {
.cards { 
    grid-template-columns: repeat(2, 1fr); 
}
}
@media (max-width: 1299px) {
    .main {
      width: 100%;
    }
  }
  
@media (min-width: 1300px) {
.cards { 
    grid-template-columns: repeat(4, 1fr); 
}
}
  