.navbar {
    height: 96px;
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%; 
  }
  
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    .navbar--input-search
    {
        background-color: initial;
    }

/* .navbar a:hover {
    background: #ddd;
    color: black;
} */