.video-page {
  width: 100%;
  
  display: flex;
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.main-content {
  width: 100%;
  padding: 20px;
}

.video-container {
  position: relative;
  height: 60%;
  width: 100%;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.video-container .video-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.description {
  width: 100%; /* Ширина блока description */
  color: white;
  padding: 20px;
  background: linear-gradient(270.78deg, #090909 35.91%, #6486DB 254.73%);
  border-radius: 10px; 
}

.description p {
  margin-bottom: 10px; /* Отступ снизу абзаца */
}

.additional-info {
  /* position: absolute; Абсолютное позиционирование внутри .description */
  bottom: 10%; /* Располагаем блок снизу */
  right: 30px; /* Располагаем блок справа */
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
padding-left: 80%;
}

.additional-info img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}







.comments-section {
  margin-top: 20px;
}

.comment {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.recommended-videos {
  width: 30%;
  height: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
  background: linear-gradient(180deg, #6486DB -19.87%, #090909 100%);
}

.recommended-videos h2,
.recommended-videos ul {
  margin: 0;
  padding: 0;
}

.recommended-videos ul {
  list-style-type: none;
  width: 100%;
}

.recommended-videos li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.recommended-videos img {
  height: 75px;
  width: auto;
  margin-right: 10px;
}

.video-info h3 {
  margin: 0;
}

.video-info p {
  margin: 0;
  color: #999;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}



.author-section {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.author-img {
  display: flex;
  align-items: center;
}

.author-img img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.author-name {
  font-size: 16px;
  font-weight: bold;
}

.Subscribe {
  width: 136px;
  height: 39px;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid #6486DB;
  opacity: 1;
  cursor: pointer;

  margin-left: -10%; /* Сдвигаем кнопку влево на 10px */
}

.actions {
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  gap: 20px; /* Промежуток между элементами */
}

.action-item {
  display: flex;
  align-items: center; /* Центрирование содержимого по вертикали */
  cursor: pointer; /* Показываем указатель при наведении */
}

.action-item img {
  width: 24px; /* Размер иконки, настройте по необходимости */
  height: 24px;
  margin-right: 5px; /* Отступ справа от иконки */
}

.action-item p {
  margin: 0px; /* Убираем внешние отступы у текста */
  
}








.comment-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Jura', sans-serif;
}

.comment-profile {
  font-size: 18px; 
  margin: 10px 0;  
  padding: 10px;  
  color: white;
}

.comment-container {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  color: white;
  margin-top: 10px;
}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-input {
  flex: 1;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  padding: 10px;
  font-size: 16px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-smile, .icon-at, .icon-send {
  cursor: pointer;
}
/* <div className="description"> */

.description{
  margin-bottom: 20px ;
}





@media (max-width: 1400px) {
  .recommended-videos {
      display: none;
  }
  .video-container{
    height: 40%;
  }
}


@media (max-width: 1000px) {

  .video-container{
    height: 20%;
  }
}